footer
    .box
        .footer__content
            .footer__content__contact
                h3 LIÊN HỆ VỚI CHÚNG TÔI
                .footer__content__contact__add
                    i.fas.fa-map-marker-alt
                    p Tầng 4,Tòa nhà Hanoi Group số 442 Đội Cấn, P. Cống Vị, Q. Ba Đình, Hà Nội
                .footer__content__contact__phone
                    .footer__content__contact__phone__item1
                        i.fas.fa-phone-alt
                        p (04) 6674 2332 - 
                    .footer__content__contact__phone__item2
                        img(src='../../../assets/img/home/fax.png')
                        p (04) 3786 8904
                .footer__content__contact__mail
                    .footer__content__contact__mail__item1
                        i.fas.fa-phone-alt
                        p (08) 6680 9686
                    .footer__content__contact__mail__item2
                        i.fas.fa-envelope
                        p.email Support@bizweb.vn
            .footer__content__shipping
                h3 CHUYỂN HÀNG
                ul
                    each item in listShipping
                        li 
                            a(href="#")= item
            .footer__content__support
                h3 HỖ TRỢ
                ul
                    each item in listSupport
                        li 
                            a(href="#")= item
            .footer__content__info
                h3 THÔNG TIN
                ul
                    each item in listInfo
                        li
                            a(href="#")= item
            .footer__content__acc
                h3 MY ACCOUNT
                ul
                    each item in listAcc
                        li
                            a(href="#")= item
    .footer__border                
    .box
        .footer__copyright
            p   &copy; Copyright 2008-2014 DKT Technology JSC
            img(src="../../../assets/img/home/payment.png")