- const listMenu = [{content: 'TRANG CHỦ', link:'index.html'}, {content: 'GIỚI THIỆU', link:'about.html'}, {content: 'SẢN PHẨM', link:'grid.html', className: 'dropdown', i: 'fas fa-chevron-down', dropdown: [{ul:'DƯỠNG DA', li: ['Áo khoác','Bộ áo liền quần', 'Dresses','Quần/váy','Quần short','Quần jean','Đồ đan', 'Áo nỉ'],link:'list.html'},{ul:'NƯỚC HOA', li: ['Áo cánh/Áo sơ mi', 'Túi xách & Balo', 'Khăn quàng cổ và Foulards','Dệt kim Hats & Gloves', 'Vớ và Socks','Jewerly','Bị bảo vệ','Giày'],link:'list.html'},{ul:'TRANG SỨC', li: ['Áo cánh/Áo sơ mi', 'Túi xách & Balo', 'Khăn quàng cổ và Foulards','Dệt kim Hats & Gloves', 'Vớ và Socks','Jewerly','Bị bảo vệ','Giày'],link:'list.html'}]}, {content: 'TIN TỨC', link:'blog.html'}, {content: 'BẢN ĐỒ', link: '#'}, {content: 'LIÊN HỆ', link:'contact.html'}];
- const listShipping = ['mua sắm trực tuyến', 'Đến từ chúng tôi gửi đến', 'Chính sách vận chuyển', 'vận chuyển thông tin'];
- const listSupport = ['Câu chuyện của chúng ta', 'Thanh toán an toàn', 'Tùy chọn Vận chuyển', 'Chính sách vận chuyển'];
- const listInfo = ['về Chúng Tôi', 'Điều khoản & điều kiện', 'Chính sách riêng tư', 'Đơn đặt hàng và Returns'];
- const listAcc = ['Xem Giỏ hàng', 'Sản phẩm yêu thích', 'Kiểm tra', 'Theo giỏi đặt hàng của tôi'];
- const listMenuProduct = ['Mỹ phẩm', '.', 'Chăm sóc da', '.', 'Nước hoa', '.', 'Trang sức', '.', 'Quà tặng'];
- const listBtn = ['Đồng hồ', 'Túi', 'Phụ kiện', 'Đồng hồ', 'Túi', 'Giày', 'Sandal', 'Áo sơ mi', 'Nước hoa', 'Giày', 'Sandal', 'Trẻ em', 'Thời trang nữ', 'Trẻ em', 'Thời trang nữ'];
- const listPathDetail = [{content:'Home'}, {content:'Sản phẩm'}, {content:'Trang sức', className: 'path__content--green'}, {content:'Lắc tay', className: 'path__content--green', classIcon: 'disable'}];
- const listInfoProduct = [{content:'đặc điểm nổi bật', className:'light'},{content:'thông tin sản phẩm'},{content:'đánh giá'}];
- const listPathGrid = [{content:'Home'}, {content:'Sản phẩm'}, {content:'Trang sức', className: 'path__content--green', classIcon: 'disable'}];
- const listJewelry = ['Vòng tay', 'Nhẫn', 'Lắc chân', 'Phụ kiện khác', 'Giày Lười Giày Mọi'];
- const listBtnTag = [{content:'Hoa tai', className:'btn-tag1'}, {content:'Son', className:'btn-tag2'}, {content:'Nước hoa', className:'btn-tag3'}, {content:'Giày', className:'btn-tag4'}, {content:'Sandal', className:'btn-tag5'}, {content:'Áo sơ mi', className:'btn-tag6'}, {content:'Nước hoa', className:'btn-tag7'}, {content:'Trẻ em', className:'btn-tag8'}, {content:'Thời trang nữ',className:'btn-tag9'}];
- const listPathList = [{content:'Home'}, {content:'Trang sức', className: 'path__content--green', classIcon: 'disable'}];
- const listPathCart = [{content:'Home'}, {content:'Giỏ hàng', className: 'path__content--green', classIcon: 'disable'}];
- const listPathInformation = [{content:'Home'}, {content:'Thông tin thanh toán', className: 'path__content--green', classIcon: 'disable'}];
- const listPathPayment = [{content:'Home'}, {content:'Thanh toán', className: 'path__content--green', classIcon: 'disable'}];
- const listThTable = ['Ảnh', 'Tên sản phẩm', 'giá', 'số lượng', 'tổng số', 'xóa'];
- const listPathAccount = [{content:'Home', classIcon: 'path__icon--red'}, {content:'Tài khoản', className: 'path__content--red', classIcon: 'disable'}];
- const listTableAcc = [{content:'Order'}, {content:'Date', className: 'date'}, {content:'TÌNH TRẠNG THANH TOÁN', className: 'status'}, {content:'TỔNG'}, {content:'NỢ'}];
- const listPathRegister = [{content:'Home'}, {content:'Đăng ký', className: 'path__content--green', classIcon: 'disable'}];
- const listPathLogin = [{content:'Home'}, {content:'Đăng nhập', className: 'path__content--green', classIcon: 'disable'}];
- const listPathAbout = [{content:'Home'}, {content:'Về chúng tôi', className: 'path__content--green', classIcon: 'disable'}];
- const listPathContact = [{content:'Home'}, {content:'Liên hệ', className: 'path__content--green', classIcon: 'disable'}];
- const listPathBlog = [{content:'Home'}, {content:'Blog', className: 'path__content--green', classIcon: 'disable'}];
- const listBtnTagBlog = ['Đồng hồ', 'Túi', 'Phụ kiện', 'Giày', 'Sandal','Áo sơ mi', 'Nước hoa', 'Trẻ em', 'Thời trang nữ'];
- const listVerticalMenu1 = ['Mỹ phẩm', 'Chăm sóc da', 'Dành cho tóc'];
- const listVerticalMenu2 = ['Nước hoa', 'Trang sức', 'Quà tặng'];
- const listProcess = ["Giỏ hàng", "Thông tin thanh toán", "Hoàn tất thanh toán"];
- const listTableCustomer = ["Ảnh", "Tên Sản Phẩm", "Giá", "Số Lượng", "Tổng Số"];