section
    .box
        .grid
            aside
                include ../categories-layout/categories
            article
                .grid__content
                    .grid__content__pagination
                        +pagination
                    .grid__content__product
                        //- +grid-product('grid-product1', '../../../../assets/img/home/product5.jpg', 'OHUI', '', 'disable')
                        //- +grid-product('grid-product2', '../../../../assets/img/home/product4.jpg', 'HOME', '450.000')
                        //- +grid-product('grid-product3', '../../../../assets/img/home/product6.jpg', 'DEBORA', '', 'disable')
                        //- +grid-product('grid-product4', '../../../../assets/img/home/product5.jpg', 'OHUI', '', 'disable')
                        //- +grid-product('grid-product5', '../../../../assets/img/home/product4.jpg', 'HOME', '450.000')
                        //- +grid-product('grid-product6', '../../../../assets/img/home/product6.jpg', 'OHUI', '', 'disable')
                    .grid__content__pagination
                        +pagination