.payment-complete {
  &__content {
    width: 100%;
    margin-bottom: 80px;

    &__info {
      display: flex;
      &__customer {
        width: 25%;
        max-height: 183px;
        background: #e6e6e6f2;
        padding: 10px;
        overflow: hidden;

        h4 {
          margin-top: 10px;
          text-align: center;
        }
        .customer-item {
          margin: 10px 0;
          padding-left: 10px;

          span {
            font-weight: 600;
            font-family: $robotoSlab;
            margin-left: 15px;
            color: $green;
          }
        }
      }

      &__product {
        width: 75%;
        padding-left: 20px;

        table {
          width: 100%;

          th {
            background-color: #e6e6e6f2;
            text-transform: uppercase;
            font-size: 16px;
            font-weight: 400;
            padding: 5px 0;
          }

          td {
            font-size: 13px;
            height: 150px;

            img {
              width: 20%;
            }

            i {
              cursor: pointer;
            }
          }

          .price {
            color: #000;
          }

          .num {
            input {
              border: 1px solid #e8e8e8;
              padding: 5px 10px;
              width: 60px;
            }
          }
        }

        table,
        th,
        td {
          border: 1px solid $gray;
          border-collapse: collapse;
          text-align: center;
        }

        &__total {
          display: flex;
          justify-content: flex-end;
          margin-top: 20px;

          h4 {
            margin-right: 20px;
          }

          span {
            font-size: 20px;
            letter-spacing: 0.15rem;
            margin-right: 10px;
          }
        }

        &__btn {
          display: flex;
          justify-content: flex-end;
          margin-top: 20px;

          button {
            @include button(#000, 12px, 5px 15px, #fff);
            text-decoration: none;
            text-transform: uppercase;
            margin-left: 10px;
          }

          .back-info {
            margin-right: 10px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1300px) {
  .payment-complete__content__info {
    flex-direction: column;

    &__customer {
      width: 100%;
      margin-bottom: 20px;
    }

    &__product {
      width: 100%;
      margin-top: 10px;
      padding-left: 0;
    }

    table tr td {
      min-width: 60px;

      img {
        width: 80px;
      }

      .price {
        padding: 0 5px;
      }
    }
  }
}
