section
    .box
        .detail
            .detail__img-involve
                i.fas.fa-arrow-up
                .detail__img-involve__related
                //- img.detail__img-involve--img1(src="../../../../assets/img/detail/img8.jpg")
                //- img.detail__img-involve--img2(src="../../../../assets/img/detail/img9.jpg")
                //- img.detail__img-involve--img3(src="../../../../assets/img/detail/img10.jpg")
                //- img.detail__img-involve--img4(src="../../../../assets/img/detail/img2.jpg")
                i.fas.fa-arrow-down
            .detail__img-bg
                //- img(src="../../../../assets/img/detail/img4.jpg")
            .detail__info
                .detail__info__content
                    //- h3 lắc tay tyffany xu hướng mới nhất
                    //- h5 tyffany ms 3201
                    //- .detail__info__price.detail-price
                    //-     span 955.000đ
                    //-     small 999.000đ
                    //- p Không thể phủ nhận, thời trang và phong cách chính là "tuyên ngôn" không lời mạnh mẽ nhất của mỗi người phụ nữ. 
                    //-     | Do đó việc mua sắm thời trang trở thành niềm vui, và có khi là nguồn cảm hứng vô tận để phái đẹp sống vui,
                    //-     | sống đẹp hơn trong mắt nửa còn lại của thế giới. Để F5 tủ đồ của mình trước xu hướng ngày càng đa dạng hơn trong thế giới thời trang,
                    //-     | nhiều chị em không ngần ngại chi tiêu "mạnh tay" để sở hữu những món đồ yêu thích.
                    //- h4 màu sắc
                    //- .detail__info__color.item-input
                    //-     input(type="text" placeholder="Màu Bạc")
                    //-     i.fas.fa-caret-right
                    //- h4 size
                    //- .detail__info__quantity.item-input
                    //-     input(type="text" placeholder="12")
                    //-     i.fas.fa-caret-right
                    //- h4 số lượng
                //- .detail__info__btn.item-buying
                //-     button MUA HÀNG
                //-     a(href="#")
                //-         i.fas.fa-heart
                //-     a(href="#")
                //-         i.fas.fa-sync-alt
                .detail__info__social
                    p Shipping &amp; 
                        span Returns
                    .detail__info__social__content
                        +btn-social('facebook','fab fa-facebook-square', 'Like')
                        +btn-social('twiter','fab fa-twitter', 'Tweet')
                        +btn-social('google','fab fa-google-plus-g', '1')
                        +btn-social('linkedin','fab fa-linkedin-in', 'Share', 'disable')
                        +btn-social('pinterest','fab fa-pinterest-square', 'in It', 'disable')