extends ../layouts/list-page

block main
    main
        // Path
        section.path
            .box
                .path__content
                    +list-path(listPathList)
        // Advertisement background
        section.advertisement
            .box
                .advertisement__content
                    h1 Giảm giá 50%
                    .advertisement__content__time
                        h4 trong vòng 3 ngày
                        p ( 25/5 - 28/5/2015 ) 
        // Content List Page
        section
            .box
                .list
                    aside
                        include ../layouts/categories-layout/categories
                    article
                        .list__content
                            .list__content__pagination
                                +pagination
                            .list__content__product
                                +list-product('list-product1', '../../../assets/img/home/product6.jpg')
                                +list-product('list-product2', '../../../assets/img/home/product6.jpg')
                                +list-product('list-product3', '../../../assets/img/home/product6.jpg')
                            .list__content__pagination
                                +pagination