extends ../base/base

block title
    title Mandala &#124; Account

block script
    script(src="js/all.js" type="module")

block account
    include ../partials/header
    block  main
    include ../partials/footer