extends ../base/base

block title
    title Mandala &#124; Contact

block script
    script(src="js/all.js")

block contact
    include ../partials/header
    block  main
    include ../partials/footer