extends ../base/base

block title
    title Mandala &#124; Detail Product

block script
    script(src="js/all.js")
    script(src="js/detail.js")

block detail
    include ../partials/header
    block  main
    include ../partials/footer