extends ../base/base

block title
    title Mandala &#124; List Page

block script
    script(src="js/all.js")

block list
    include ../partials/header
    block  main
    include ../partials/footer