extends ../base/base

block title
    title Mandala &#124; Login

block script
    script(src="js/all.js" type="module")

block login
    include ../partials/header
    block  main
    include ../partials/footer