section
    .box
        .goods
            .goods__shower-gel
                .goods__shower-gel__img
                    img.img-goods(src="../../../../assets/img/home/img8.jpg")
                .goods__shower-gel__content.content
                    .goods__shower-gel__content--bg
                    .goods__shower-gel__content--arrow-left.arrow-left
                    .goods__shower-gel__content__title.title-right
                        p sữa tắm
                        img(src="../../../../assets/img/home/2.png")
            .goods__perfume
                .goods__perfume__content.content
                    .goods__perfume__content--bg
                    .goods__perfume__content--arrow-right.arrow-right
                    .goods__perfume__content__title.title-left
                        p nước hoa
                        img(src="../../../../assets/img/home/1.png")
                .goods__perfume__img
                    img.img-goods(src="../../../../assets/img/home/img14.jpg")
                    .goods__perfume__img__content
                        p từ 1/6 - 5/6/2015
                        span.price -40
                            small %
                        br
                        a.buy(href="grid.html") mua hàng
            .goods__corinne
                .goods__corinne__content.content
                    .goods__corinne__content__overlay
                        .goods__corinne__content__overlay__img
                            img(src="../../../../assets/img/home/play.png")
                    p corinne 2015
            .goods__compo
                .goods__compo__content.content
                    img(src="../../../../assets/img/home/img10.jpg")
                    .goods__compo__content__title
                        p compo tắm trắng
                        span Tại Nhà
            .goods__jewelry
                .goods__jewelry__content.content
                    .goods__jewelry__content--bg
                    .goods__jewelry__content--arrow-right.arrow-right
                    .goods__jewelry__content__title.title-left
                        p trang sức
                        img(src="../../../../assets/img/home/1.png")
                .goods__jewelry__img
                    img.img-goods(src="../../../../assets/img/home/img9.jpg")
            .goods__daisy
                .goods__daisy__img
                    img.img-goods(src="../../../../assets/img/home/img11.jpg")
                .goods__daisy__content.content
                    .goods__daisy__content--bg
                    .goods__daisy__content--arrow-left.arrow-left
                    img(src="../../../../assets/img/home/daisy.png")
                    .goods__daisy__content__title
                        p Quyến ru hon
                        span cùng
                            big DAISY