.newsletter
    .newsletter__content
        .newsletter__content__icon
            label(for="newsletter-toggle")
                img(src="../../../assets/img/home/closepopup.png")
        h3 gửi email
        p Hãy gửi email của bạn liên hệ với chúng tôi để được tư vấn tốt hơn
        p Sự hài lòng của bạn là thành công của chúng tôi
        input(type="text" placeholder="Email của bạn...")
        a(href="#") gửi email    